
body {
    margin: 0; /* Обнуление отступов */
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333; /* */
}

*,
*:before,
*:after {
    box-sizing: border-box; /* Свойства width и height включают в себя значения padding и border, но не margin. */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0; /* Обнуление отступов */
}

hr {
    display: block; /* Элемент показывается как блочный. Применение этого значения для строчных элементов, например <span>, заставляет его вести подобно блокам — происходит перенос строк в начале и в конце содержимого. */
    width: 100%; /* Ширина на всю ширину контейнера */
    height: 1px;
    margin: 40px 0;

    border: 0;
    background-color: #e5e5e5;
}


/* Page */
.page {
    overflow: hidden; /* Отображается только область внутри элемента, остальное будет скрыто. */
}


/* Container */
.container {
    width: 100%;
    max-width: 1400px; /* Максимально возможная ширина */
    padding: 0 15px;
    margin: 0 auto;
}



/* Intro */
.intro {
    margin-top: 100px;
    margin-bottom: 290px;
    width: 100%;
    max-height: 900px;
    min-height: 500px;
    position: relative;

    background-color: #fff;
}

.intro_text {
  padding-bottom: 100px;
  margin: 0;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #FF5E71;
}

.intro__inner {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.intro_titles {
  position: absolute;
  margin: 0 auto;
  z-index: 2;
}

.intro_p {

  max-width: 400px;

  display: block;
  margin-top: 27px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.intro_img {

  position: absolute;
  margin: 0 auto;
  top: 22px;
  right: 0px;

  z-index: 1;
}

.intro_img_img {
  max-width: 800px;
  max-height: 500px;

  z-index: 0;
}

.intro__title_first {
  font-family: 'Montserrat';
  font-size: 64px;
  line-height: 140.5%;
  z-index: 1000;
  color: #FF5E71;
}

.intro__title {
  font-family: 'Montserrat';
  font-size: 64px;
  line-height: 140.5%;

  z-index: 1000;
}

.intro__title:after {
    content: "";
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background-color: #fff;
}

/* Header */
.header {
    width: 100%;
    padding-top: 20px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    background: rgba(255, 255, 255, 0.98);
    box-shadow: 0 0 5px rgba(0,0,0,0.4);

    border-radius: 0px;
}

.header.fixed {
    background-color: #eb8b8d;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translate3d(0, 0, 0);
}

/* .header.active {
    background-color: #eb8b8d;
} */

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.header__logo {
}

.header__logo__img {
  max-width: 250px;
  max-height: 50px;
}

/* Nav */
.nav {
    font-size: 14px;
    /* text-transform: uppercase; */
}

.nav__link {
    /* display: inline-block;
    vertical-align: top; /* Выравнивает верх блока по верхней части строки. */
    margin: 0 15px;
    position: relative;

    color: #000000;
    text-decoration: none;

    transition: color .1s linear; */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #FF5E71;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #FF5E71;
}

.nav__link:hover:after,
.nav__link.active:after {
    /* opacity: 1; */
}

.nav__link.active {
    /* color: #fce38a; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.nav_button {
  display: inline-block;
  width: 233px;
  height: 48px;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 15px;
  border: 3px solid #D9D9D9;
  position: relative;
}

.nav_button {
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;

  border: 3px solid #D9D9D9;
  border-radius: 15px;

  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  transition: background .1s linear, color .1s linear;
}

.nav_button:hover {
    background-color: #fff;
    color: #333;
}

/* Button */
.btn {
    /* display: inline-block; */
    /* vertical-align: top; */
    padding: 8px 38px;

    border: 3px solid #D9D9D9;
    border-radius: 15px;

    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    color: #000;
    text-decoration: none;

    transition: background .1s linear, color .1s linear, border .1s linear;
}

.btn:hover {
    background-color: #FF5E71;
    border-color: #FF5E71;
    color: #fff;
}

/* Services */
.services {
  max-height: 900px;
  background-color: #F2F2F2;
}

.services__title {
  /* margin-left: 20%; */

  padding-top: 90px;
  padding-bottom: 78px;

  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 140.5%;
/* or 67px */

display: flex;
align-items: center;

color: #000000;
}

.service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-bottom: 50px;
}

.service_item {
  max-width: 31%;
  max-height: 450px;


  padding: 20px 38px;

  border: 3px solid #fff;
  border-radius: 15px;
  background-color: #fff;

  display: flex;
  /* justify-content: center; */
  flex-direction: column;

  box-shadow: 0 0 20px rgba(0,0,0,0.25);
}

.services__text {
  position: relative;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  align-items: center;

  color: #000000;
}

.services_row {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;

color: #000000;
}

.services_row::marker {
  unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
    color: #B1B1B1;
}

.services__number {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;

color: #FF5E71;
}

.services__btn {
    display: flex;
    justify-content: center;

    padding-bottom: 38px;
} /* /Services */

/* Why Choose */

.why_choose__title {
  /* margin-left: 20%; */
  max-width: 50%;

  padding-top: 90px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 140.5%;

  color: #000000;
}

.why_choose_container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.why {
  max-width: 45%;
  display: flex;
  flex-direction: column;
}

.why_icon {
  max-height: 70px;
}

.why_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140.5%;
  color: #000000;
}

.why_row {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 187.5%;
  color: #000000;
}

.why_row::marker {
  unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
    color: #B1B1B1;
}

.machine {
  padding-bottom: 90px;
}

.machine__title {
  margin-top: 90px;
  margin-bottom: 40px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 140.5%;
  color: #000000;
}

.machine__row {

  margin-top: 50px;

  display: flex;
  justify-content: space-between;

  border-bottom: 3px solid #D9D9D9;

}

.machine__row_text {
  max-width: 80%;

  margin: 0;
  margin-bottom: 5px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;

  color: #000000;
}

.machine__image {

}

.news {

}

.new_title {
  padding: 90px 0;


  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 48px;

color: #000000;
}

.news__container {
  display: flex;
  justify-content: space-between;

  padding-bottom: 90px;
}

.news__popup {

  max-width: 48%;

  background: #D9D9D9;
  border-radius: 40px;

  padding: 0 30px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  text-decoration: none;
}

.news__image {
  width: 560px;
  height: 560px;

  border-radius: 30px;
}

.news__image--hands {
  margin-top: 25px;
    border-radius: 40px;
}

.news__data {
  margin-top: 22px;
  margin-left: 43px;
  margin-bottom: 5px;

  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 28px;

color: #000000;
}

.news__text {
  width: 500px;
  margin-top: 0px;
  margin-left: 43px;


  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;

color: #000000;
}

.contacts {
  background-color: #F2F2F2;

  padding-bottom: 40px;
}

.contacts_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contacts_title {
  padding-top: 40px;

  align-items: center;
  text-align: center;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 140%;

  color: #000;
}

.contact_tel {
  margin-top: 24px;

  align-items: center;
  text-align: center;

  text-decoration: none;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 187.5%;

  color: #000;
}

.contact_email {
  align-items: center;
  text-align: center;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 187.5%;

  color: #000;
}

.contact_addres {
  align-items: center;
  text-align: center;

  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 170%;

color: #000;
}

.map {
  align-items: center;
  text-align: center;

  border-radius: 100px;
}

.map_iframe {
  border-radius: 40px;

}

/* Footer */

.footer {
    padding-top: 40px;
    background-color: #B1B1B1;
}

.footer_container {
  display: flex;
  justify-content: space-between;
}

.footer_return {
  padding: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #000000;
}

.footer_text {
  margin: 0;
  text-decoration: none;
  color: #000;

  transition: color .1s linear;
}

.footer_text:hover {
    color: #D9D9D9;
}

.footer_contacts {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer_contacts_title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140.5%;
  color: #000000;
}

.footer_contact_tel {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 187.5%;
  color: #000000;

  text-decoration: none;
}

.footer_contact_email {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140.5%;
  color: #000000;
}

.footer_contact_addres {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 187.5%;
  color: #000000;
}


@media (max-width: 1230px) {

    /* Intro */
    .intro__suptitle {
        font-size: 52px;
    }

    .intro__title {
        font-size: 120px;
    }

    /* Reviews */
    .reviews__text {
        font-size: 20px;
    }
}

@media (max-width: 990px) {

    /* Intro */
    .intro__suptitle {
        font-size: 32px;
    }

    .intro__title {
        font-size: 80px;
    }

    /* Stat */
    .stat {
       justify-content: center;
    }

    .stat__item {
        flex: none;
        width: 33.33333%;
        padding-top: 30px;
        padding-bottom: 30px;

        border: 0;
    }

    .stat__item:last-child {
        border-right: 0;
    }

    /* Services */
    .services__item {
        width: 50%;
        padding-bottom: 0;
    }

    .services__item--border {
        border-bottom: 0;
    }

    /* Reviews */
    .reviews {
        padding: 0 60px;
    }

    .reviews__photo {
        width: 150px;
        height: 150px;
    }

    .reviews__item {
        padding-left: 175px;
    }

    /* Clients */
    .clients {
        max-width: 600px;
        margin: 0 auto;
    }

    .clients__item {
        width: 100%;
        padding-right: 0;
    }

    .clients__item:last-child {
        margin-bottom: 0;
    }


    /* Footer */
    .footer__col--first {
        width: 100%;
    }

    .footer__col--second,
    .footer__col--third {
        width: 50%;
    }

    /* Instagram */
    .instagram {
        justify-content: flex-start;
    }

    .instagram__item {
        width: auto;
        border-right: 1px solid white;
    }
}

@media (max-width: 770px) {

    /* Intro */
    .intro {
        min-height: 650px;
    }


    /* Header */
    .header {
        padding: 10px 0;
    }

    /* Nav */
    .nav {
        display: none;
        width: 100%;

        position: absolute;
        top: 100%;
        left: 0;

        background-color: #eb8b8d;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }

    .nav-toggle {
        display: block;
    }


    /* Section */
    .section {
        padding: 40px 0;
    }

    .section--devices {
        padding-bottom: 0;
    }


    /* Card */
    .card {
        margin-top: 50px;
        justify-content: center;
    }

    .card__item {
        width: 100%;
        max-width: 410px;
        margin-bottom: 30px;
    }

    .card__item:last-child {
        margin-bottom: 0;
    }


    /* Slider */
    .slider__text {
        display: none;
    }

    .slider__item.active:before {
        width: 50%;
    }

    /* Services */
    .services {
        justify-content: center;
    }

    .services__item {
        width: 100%;
        max-width: 400px;
        padding-left: 55px;
        padding-right: 0;
    }

    .services__icon {
        left: 0;
    }


    /* Wedo */
    .wedo__img {
        display: none;
    }

    .wedo__item {
        width: 100%;
    }

    /* Reviews */
    .reviews__photo {
        position: static;
        margin: 0 auto 20px;
    }

    .reviews__item {
        padding-left: 0;
    }

    .reviews__text {
        font-size: 16px;
    }

    .reviews__author {
        font-size: 20px;
    }

    /* Works */
    .works {
        flex-wrap: wrap;
    }

    .works__col {
        flex: none;
        width: 50%;
    }

    /* Blog */
    .blog {
        max-width: 380px;
        margin: 0 auto;
    }

    .blog__item {
        width: 100%;
        margin-bottom: 30px;
    }

    .blog__item:last-child {
        margin-bottom: 0;
    }
}


@media (max-width: 575px) {

    /* Intro */
    .intro__suptitle {
        font-size: 22px;
    }

    .intro__title {
        font-size: 40px;
    }

    /* Section */
    .section__header {
        margin-bottom: 50px;
    }

    .section__suptitle {
        font-size: 20px;
    }

    .section__title {
        font-size: 24px;
    }

    .section__title:after {
        margin: 20px auto;
    }

    /* Stat */
    .stat__item {
        width: 100%;

        border-bottom: 1px solid #b5eae0;
    }

    .stat__item:last-child {
        border-bottom: 0;
    }

    .stat__count {
        font-size: 52px;
    }


    /* Devices */
    .devices {
        max-width: 320px;
    }

    .devices__item--iphone {
        width: 180px;
        bottom: -50px;
        right: -80px;
    }


    /* Reviews */
    .reviews {
        padding: 0;
    }

    .reviews__btn {
        top: 18%;
    }

    /* Logos */
    .logos {
        flex-wrap: wrap;
        justify-content: center;
    }

    .logos__item {
        width: 50%;
        margin-bottom: 20px;
    }

    .logos__img {
        margin: 0 auto;
    }

    /* Works */
    .works__col {
        width: 100%;
    }


    /* Clients */
    .clients__photo {
        position: static;
    }

    .clients__item {
        padding-left: 0;
        text-align: center;
    }

    .clients__text:before {
        margin: 15px auto;
    }


    /* Blogs */
    .blogs__img {
        width: 80px;
        height: 50px;
    }

    .blogs__title {
        font-size: 10px;
    }

    /* Subscribe */
    .subscribe {
        flex-wrap: wrap;
        max-width: none;
    }

    .subscribe__input {
        margin-bottom: 10px;
        border-right: 1px solid #e7e7e7;
    }

    .subscribe__input,
    .subscribe__btn {
        width: 100%;
    }
}

.new_title_main {
  padding-top: 135px;


  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 48px;

color: #000000;
}

.news__data--data {
  margin-left: 0;
}

.news__text--title {
  margin-left: 0px;
}

.documents__row {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.doc_image {
  width: 700px;
  padding: 0;
  margin: 0;
}
